<!-- <section class="property-binding"> -->
  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1+1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1+ 1 + getValor() }}</p>
    <p>Curso Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImagem">
  </article> -->

  <!-- <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma class:
      <select #class (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ class.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="class.value == 'alert-success'">Sucesso</div>

      <div class="alert" role="alert"
        [class.alert-info]="class.value == 'alert-info'">Info</div>

      <div class="alert" role="alert"
        [class.alert-warning]="class.value == 'alert-warning'">Alerta</div>

      <div class="alert" role="alert"
        [class.alert-danger]="class.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert"
        [style.display]="class.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro.
      </div>
    </div>
  </article> -->

  <!-- <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()"
        class="btn btn-primary">Me clique!</button>
      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvar($event.target.value)"
        (blur)="salvar(campoInput.value)"
        #campoInput/><br><br>

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p><br><br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        Passe o mouse sobre mim
      </span>
    </div>
  </article> -->

<!-- </section> -->

<!-- <section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"/>

        <input type="text"
          [ngModel]="nome"
          (ngModelChange)="nome = $event"/>

        <input type="text" [(ngModel)]="nome"/>

        <input type="text" bindon-ngModel="nome"/>
        <p>Você digitou: {{ nome }}</p>
    </div>

    <div>
      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade</p>
      <input type="text"
        [(ngModel)] = "pessoa.nome"/>

        <input type="text"
          [(ngModel)] = "pessoa.idade"/>


    </div>
  </article> -->

<section class="input-output-properties">
    <article>
      <h3>Input/Output Properties</h3>

      <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
</section>
<app-contador [valor]="valorInicial"
  (mudouValor)="onMudouValor($event)"></app-contador>
